<section class="splash-session edit-registrations">
  <div class="bg-splash">
    <div class= "container">
      </br></br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <form class="" method="post" action="#">
          <div class="row main" id="first_step" >
            <div class="main-login main-center">
            <h4><%= devise_error_messages! %></h4>
             <h2>Edit:</h2>
             <h4><strong>1. Settings & Basic Information</strong></h4>
             <h4><%= link_to '2. Specific main info', '#second_step' %> </h4>
             <h4><%= link_to '3. Skills', '#third_step' %></h4>
             <h4><%= link_to '4. Goals, Links & Resume', '#fourth_step' %></h4></br>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Your Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <%= f.text_field :first_name, autofocus: true, class:'form-control', id:'first_name',  placeholder:'Enter your Name' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Your last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <%= f.text_field :last_name, autofocus: true, class:'form-control', placeholder:'Enter your last Name' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'Enter your email' %>
                  </div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Username</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <%= f.text_field :username, autofocus: true, class:'form-control', placeholder:'Enter your Username' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, class:"cols-sm-2 control-label" %>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder:'Enter your Password' %>
                  </div>
                  <% if @minimum_password_length %>
                  <i>(leave blank if you don't want to change it)</i><br />
                  <em>(<%= @minimum_password_length %> characters minimum)<%= "  " %></em>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:'Confirm Password' %>
                  </div>
                </div>
              </div>
              <br /><br />
              <h3><a href="#second_step">Keep these changes & continue with Second Step: Specific main info</a></h3>
              <br /><br />
              <h3>Or just save changes from this step and continue later:</h3>
              <br />
              <div class="actions form-group">
                <%= f.submit "save settings", id: 'sign_up', class: 'btn btn-primary btn-lg btn-block login-button' %>
              </div>

              <%= link_to "Back", :back %>
            </div>
          </div> <!-- / row main first_step  /-->
          <br /><br /><br />

          <div class="row main" id="second_step">
            <div class="main-center next-step-form">
             <h2>Edit:</h2>
             <h4><%= link_to '1. Basic Information', '#first_step' %></h4>
             <h4><strong>2. Specific main info</strong></h4>
             <h4><%= link_to '3. Skills', '#third_step' %></h4>
             <h4><%= link_to '4. Goals, Links & Resume', '#fourth_step' %></h4></br>

                <div class="form-group">
                  <label for="picture" class="cols-sm-2 control-label">Your Picture</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <%= f.file_field :picture, autofocus: true, class:'form-control', id:'picture',  placeholder:'Add new picture' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="contact_preference" class="cols-sm-2 control-label">Location</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                      <%= f.text_field :location, autofocus: true, class:'form-control', placeholder:'Example: Berlin, Germany' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="contact_preference" class="cols-sm-2 control-label">Contact of Preference/s</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-bullseye fa" aria-hidden="true"></i></span>
                      <%= f.text_field :contact_preference, autofocus: true, class:'form-control', placeholder:'Example: example: whatsapp: +12.. , email: abc..@' %>
                    </div>
                    *Contact will be ONLY shown to your match via request
                  </div>
                </div>

                <div class="form-group">
                  <label for="shared_screen_tool" class="cols-sm-2 control-label">Shared screen tool/s</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-laptop fa" aria-hidden="true"></i></span>
                      <%= f.text_field :shared_screen_tool, autofocus: true, class:'form-control', placeholder:'Example: Teamviewer, Join.me, Skype' %>
                    </div>
                    *In case you didn't use before write: No
                  </div>
                </div>

                <div class="form-group">
                  <label for="fluent_language" class="cols-sm-2 control-label">Fluent language/s</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa-language fa" aria-hidden="true"></i></span>
                      <%= f.text_field :fluent_language, autofocus: true, class:'form-control', placeholder:'example: English, Spanish ...' %>
                    </div>
                  </div>
                </div>

                <br /><br />
                <h3><a href="#third_step">Keep these changes & continue with Third Step: Skills</a></h3>
                <br /><br />
                <h3><a href="#save">Or just save changes from this step and continue later:</a></h3>
                <br /><br /><br />
                <div id="third_step"></div>
                <h2>Edit:</h2>
                <h4><%= link_to '1. Basic Information', '#first_step' %></h4>
                <h4><%= link_to '2. Specific main info', '#second_step' %></h4>
                <h4><strong>3. Skills </strong></h4>
                <h4><%= link_to '4. Goals, Links & Resume', '#fourth_step' %></h4></br>
                <div class="form-group">
                  <label for="present_skills" class="cols-sm-2 control-label">The skills you have and want to improve</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-mortar-board fa" aria-hidden="true"></i></span>
                      <%= f.text_field :present_skills, autofocus: true, class:'form-control', id:'present_skills',  placeholder:'Example: Ruby L:3, AWS L:2, Rails L:3' %>
                    </div>
                    * Add name of the Skill + L(level): from 1(beginner) to 5(advanced).<br />
                    ** As another example: HTML L:4, Git L:2,
                  </div>
                </div>

                <div class="form-group">
                  <label for="future_skills" class="cols-sm-2 control-label">The Skills you don't have and you want to learn</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lightbulb-o fa" aria-hidden="true"></i></span>
                      <%= f.text_field :future_skills, autofocus: true, class:'form-control', id:'future_skills',  placeholder:'Example: Elixir, AWS-EC2, Terraform' %>
                    </div>
                    * Add just name of the Skill.<br />
                    ** As another example: AWS-S3,
                  </div>
                </div>

                <div class="form-group">
                  <label for="average_skill_level" class="cols-sm-2 control-label">Average Skill Level</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-line-chart fa" aria-hidden="true"></i></span>
                      <%= f.select :average_skill_level,  [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5], class:'form-control', id:'average_skill_level', include_blank: true %>
                    </div>
                    * Beginner [0 to 1.5], Medium [2 to 3.5] or Advanced [4 to 5]
                  </div>
                </div>

                <div class="form-group">
                  <label for="code_reviewer" class="cols-sm-2 control-label">Are you able and you want to do code reviews?</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-code fa" aria-hidden="true"></i></span>
                      <%= f.select :code_reviewer, [['yes', true],['no', false]], class:'form-control', id:'code_reviewer', include_blank: true%>
                    </div>
                  </div>
                </div>

                <br /><br />
                <h3><a href="#fourth_step">Keep these changes & continue with fourth & last Step: Goals, Links & Resume</a></h3>
                <br /><br />
                <h3><a href="#save">Or just save changes from this step and continue later:</a></h3>
                <br />

                <br /><br /><br /><br />

                <div id="fourth_step"></div>
                <h2>Edit:</h2>
                <h4><%= link_to '1. Basic Information', '#first_step' %></h4>
                <h4><%= link_to '2. Specific main info', '#second_step' %></h4>
                <h4><%= link_to '3. Skills', '#third_step' %></h4>
                <h4><strong>4. Goals, Links & Resume</strong></h4><br /><br />

                <div class="form-group">
                  <label for="short_goal" class="cols-sm-2 control-label">Your short term Goal</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-bicycle fa" aria-hidden="true"></i></span>
                      <%= f.text_field :short_goal, autofocus: true, class:'form-control', id:'short_goal',  placeholder:'Example: Learn Python a bit of React & start contributing to Copair open source :) ' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="medium_goal" class="cols-sm-2 control-label">Your medium term Goal</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-plane fa" aria-hidden="true"></i></span>
                      <%= f.text_field :medium_goal, autofocus: true, class:'form-control', id:'medium_goal',  placeholder:'Example: Finish my project with Ruby in arduino and read this huge book about AI' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="long_goal" class="cols-sm-2 control-label">Your Long term Goal</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-rocket fa" aria-hidden="true"></i></span>
                      <%= f.text_field :long_goal, autofocus: true, class:'form-control', id:'long_goal',  placeholder:'Example: Be senior developer in 2 years and do my own bussines in Robotics' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="resume" class="cols-sm-2 control-label">Little Resume about you</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-info-circle fa" aria-hidden="true"></i></span>
                      <%= f.text_field :resume, autofocus: true, class:'form-control', placeholder:'I did many things in my life Surf teacher, guitarrist and now developer..I like Surf, Robots ha! And Star Trek!' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="social_media_info" class="cols-sm-2 control-label">Add some links and social media</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-globe fa" aria-hidden="true"></i></span>
                      <%= f.text_field :social_media_info, autofocus: true, class:'form-control', placeholder:'My github and twitter: @username, my website & portfolio: www... '%>
                    </div>
                  </div>
                </div>

                <br /><br /><br />
                <div class="actions form-group">
                  <%= f.submit "Save changes", class: 'btn btn-primary btn-lg btn-block login-button', id:"save" %>
                </div>
                <%= link_to "Back", :back %>
              </form>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</section>
