<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :user_picture %>
  </div>

  <div class="field">
    <%= form.label :contact_preference %>
    <%= form.text_field :contact_preference, id: :user_contact_preference %>
  </div>

  <div class="field">
    <%= form.label :shared_screen_tool %>
    <%= form.text_field :shared_screen_tool, id: :user_shared_screen_tool %>
  </div>

  <div class="field">
    <%= form.label :fluent_language %>
    <%= form.text_field :fluent_language, id: :user_fluent_language %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
