  <!-- Splash background
-------------------------->
  <section id="splash">
    <div class="title-container">
      <div class="headline">
        <%= image_tag('copairlogo3.svg') %>
        <h3>Try the smart path: Match, improve & learn to code in real time, together.</h3>
      </div>
    </div>
    <div class="arrow">
    <a class="smoothscroll" href="#about">
        <div class="scroll-down"></div>
    </a>
    </div>
  </section>


  <!-- About
-------------------------->

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <h2>What is it?</h2>
          <p><span>COPAIR</span> is based on the idea of two people working together on the same computer and improving their coding skills by helping each other. We help people get together to work on their ideas!</p>
        </div>
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <%= image_tag('match.gif', class: 'match') %>
        </div>
      </div>
      <div class="row reverse">
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <h2>How does it work?</h2>
          <p>Regardless of your knowledge, you'll only need a laptop and an internet connection. Get together with your matching pair and start a project. Sharing knowledge and learning is the goal of <span>COPAIR</span>. Best of all, it's completely free!
          </p>
        </div>
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <%= image_tag('laptop.gif', class: 'laptop') %>
        </div>
      </div>
      <div class="row">
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <h2>Benefits</h2>
          <p>It might be difficult to take the first step but after you do it you will feel more confident about your skills, more prepared for future job interviews and it's a great way to network!</p>
        </div>
        <div class="information col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <%= image_tag('benefits.gif', class: 'benefits') %>
        </div>
      </div>
    </div>
  </section>


  <!-- Team
-------------------------->

  <section id="team">
    <div class="team">
      <ul id="team-ul">
        <li>
          <%= image_tag('antonio.png') %>
          <p>Pair programming is the most human, easy and fast way to learn to code,
          it's about work closer to other people and sharing live knowledge.
          This is why COPAIR is the smart path to improve your coding skills.
          Our reason for being is to help you making your life easier and therefore better</p>
          <em><p>António Serna, Web Developer & founder of COPAIR</p></em>
        </li>
        <li>
          <%= image_tag('ana.png') %>
          <p>I think networking is the first step to finding your dream job in tech and I know how difficult it is to take that step and how much time it takes to learn by yourself. With COPAIR I want to encourage and inspire people in believing in themselves and achieving their dreams faster by sharing experience and learning with each other!</p>
          <em><p>Ana Afonso, Front-end Web Developer, Designer & founder of COPAIR</p></em>
        </li>
        <li>
          <%= image_tag('pedro.png') %>
          <p>I view COPAIR as a tandem for coding. It is a way to learn by teaching and being taught, when and where you wish. With the added benefit of helping you meet new people that share the same interest in coding and that may be on the same career path as you.</p>
          <em><p>Pedro Gething, Designer & Photographer</p></em>
        </li>
      </ul>
    </div>
    <div class="team-control">
      <i class="fa fa-angle-left fa-2x" id="team-l"></i>
      <i class="fa fa-angle-right fa-2x" id="team-r"></i>
    </div>
  </section>

  <!-- Contact Form-->

  <section id="contact">
      <form class="contact-form" action="https://formspree.io/antonelo@gmail.com" method="POST">
        <section class="left">
          <div class="form-title">
            <h2>Give us some feedback, colaborate and join the Team!</h2>
          </div>
          <div class="input-container">
            <input type="text" placeholder="Your Name" />
          </div>
          <div class="input-container">
            <input type="text" placeholder="Your Email" />
          </div>
          <div class="input-container">
            <textarea name="comments" placeholder="Your Comment" id=""></textarea>
          </div>
          <button type="submit" class="btn">Send</button>
        </section>
    </section>

  <!--Home Footer====-->
  <footer>
    <div class="container container--footer">
      <p class="title-footer">Find out more about us</p>
    </div>
    <div class="container container--footer">
      <br />
      <%= link_to image_tag('copairlogo3.svg', alt:'COPAIR', class:'logolnkd' )%>
      <ul class="unstyled-list social-links">
        <li><a href="https://twitter.com/WeCopair" target="_blank" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/wecopair" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCyp_do5v_FcCY_m4-4S_ZOg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
      </ul>

      <ul class="unstyled-list nav-footer">
        <li><a href="#splash">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=team@we-copair.com">Email</a></li>
      </ul>
      </ul>
      <br />
      <div class="made">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Berlin</p>
      </div>
    </div>
  </footer>
