<div class="application_body separator index">
  <p id="notice"><%= notice %></p>

  <center><h1>Users</h1></center>
  <div class="row">
    <center>
      <% @users.each do |user| %>
        <%= link_to user do %>
          <div class="col-md-6 col-xs-12">
            <% if user.picture_url.nil? %>
              <%= image_tag('usr_blugr.png', name:"aboutme", class:"img-circle", size: "140") %>
            <% else %>
              <%= image_tag(user.picture, name:"aboutme", class:"img-circle", size: "140") %>
            <% end %>
            <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
            <%= "@#{user.username}" %>
            <%= user.fluent_language %><br />
            Skills/Want to practice:<%= user.present_skills %><br />
            Want to learn:<%= user.present_skills %><br />
            <br /><br />
          </div>
        <% end %>
      <% end %>
    </center>
  </div>
</div>