<div class="application_body separator show">
  <div class="fade in" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <center>
            <p id="notice"><%= notice %></p>
            <% if @user.picture_url.nil? %>
              <%= image_tag('usr_blugr.png', name:"aboutme", class:"img-circle", size: "140") %>
            <% else %>
              <%= image_tag(@user.picture, name:"aboutme", class:"img-circle", size: "140") %>
            <% end %>
            <h3 class="media-heading"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
            <h4><%= @user.username %></h4>
            <h3 class="media-heading">
              <small>
                <div class="glyphicon glyphicon-map-marker">
                  <% if @user.location.present? %>
                    <%= @user.location %>
                  <% else %>
                    [pending to answer]
                  <% end %>
                </div>
              </small>
            </h3>

            <span><strong> Have Skills and want to improve/practice *(Level 'L' 0.5 to 5): </strong></span><br />
            <% if @user.present_skills.present? %>
              <% @user.present_skills.each do |skill| %>
                <span class="label label-success">
                  <%= skill %>
                </span>
              <% end %>
            <% else %>
              [pending to answer]
            <% end %>
            <br /><br />

            <span><strong> Want to learn: </strong></span><br />
            <% if @user.future_skills.present? %>
              <% @user.future_skills.each do |skill| %>
                <span class="label label-warning js-example-basic-multiple js-future_skills">
                  <%= skill %>
                </span>
              <% end %>
            <% else %>
              [pending to answer]
            <% end %>
            <br /><br />

            <span><strong> Average Skill Level: </strong></span><br />
              <% if @user.average_skill_level.present? %>
                <span class="label label-success">
                  <%= @user.average_skill_level %>
                </span>
              <% else %>
                [pending to answer]
              <% end %>
            </span>
            <br /><br />

          </center>
            <br />
            <span><strong>Fluent Language/s: </strong></span>
              <% if @user.fluent_language.present? %>
                <% @user.fluent_language.split(', ').each do |language| %>
                  <span class="label label-default">
                    <%= language %>
                  </span>
                <% end %>
              <% else %>
                  ENGLISH
              <% end %>
            <br /><br />

            <span><strong> Shared screen tool/s: </strong></span>
            <% if @user.shared_screen_tool.present? %>
                <% @user.shared_screen_tool.split(', ').each do |screen_tool| %>
                  <span class="label label-default">
                    <%= screen_tool %>
                  </span>
                <% end %>
            <% else %>
                [pending to answer]
            <% end %>
            <br /><br />

            <span><strong>Available for Code reviews : </strong></span>
            <% if @user.code_reviewer.nil? %>
              [pending to answer]
            <% else %>
              <span class="label label-success">
                <%= @user.code_reviewer == true ? 'yes' : 'no' %>
              </span>
             <% end %>
            <br /><br />

            <p><center><strong>GOALS</strong></center></p>
            <div class="row">
              <div class="col-md-4 col-xs-12 short term">
                <p><center><strong>Short Term</strong></center></p>
                <p><%= @user.short_goal.present? ? @user.short_goal : '[pending to answer]' %></p>
              </div><!-- /col -->
              <div class="col-md-4 col-xs-12 medium term">
                <p><center><strong>Medium Term</strong></center></p>
                <p><%= @user.medium_goal.present? ? @user.medium_goal : '[pending to answer]' %></p>
              </div><!-- /col -->
              <div class="col-md-4 col-xs-12 long term">
                <p><center><strong>Long Term</strong></center></p>
                <p> <%= @user.long_goal.present? ? @user.long_goal : '[pending to answer]' %></p>
              </div><!-- /col -->
            </div><!-- /row -->

            <br /><br />
            <center><strong>Resume </strong></center> <br />
            <center><p><%= @user.resume.present? ? @user.resume : '[pending to answer]' %></p></center>
            <br /><br />
            <span><h5>**Direct contact preference/s will be vailable when your request will be for both sides acepted</h5></span>
            <br /><br />
          </center>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h4><%= link_to 'Edit', edit_user_registration_path if @user.present? && @user.id == current_user %> |
    <%= link_to 'Back', users_path %></h4>
  </center>
</div>

