<div class="application_body separator">
  <div class="fade in" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <center>
            <p id="notice"><%= notice %></p>
            <% if @user.picture_url.nil? %>
              <%= image_tag('usr_blugr.png', name:"aboutme", class:"img-circle", width:"140", height:"140"  ) %>
            <% else %>
              <%= image_tag(@user.picture, name:"aboutme", class:"img-circle", width:"140", height:"140"  ) %>
            <% end %>
            <h3 class="media-heading"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
            <h4><%= @user.username %></h4>
            <h3 class="media-heading"><small><div class="glyphicon glyphicon-map-marker"></div></small></h3>
          </center>
            <br />
            <span><strong>Fluent Language/s: </strong></span>
            <span class="label label-default"><%= @user.fluent_language.upcase %></span>
            <br /><br />

            <span><strong> Contact Preference/s: </strong></span>
            <span class="label label-default"> <%= @user.contact_preference %></span>
            <br /><br />

            <span><strong> Shared screen tool/s: </strong></span>
            <%= @user.shared_screen_tool %>
            <br /><br />

            <%= link_to 'Edit', edit_user_registration_path %> |
            <%= link_to 'Back', users_path %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

