<!DOCTYPE html>
<html class="no-js" lang="">
<!--<![endif]-->
  <head>
    <%= favicon_link_tag 'logoicon.ico' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> COPAIR | Match & learn to code. Live, together. </title>
    <link href="https://copair.gitlab.io/with/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag "footer-distributed", media: "all" %>
    <%= stylesheet_link_tag "sessions_form", media: "all" %>
    <%= stylesheet_link_tag "tonio_serna", media: "all" %>
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!--header navigation -->
    <header class="the-header clearfix">
      <div class="wrapper">
        <div class="logo">
          <%= link_to image_tag('logo.png', tile:'Copair Logo', alt:'Copair'), root_path %>
        </div>

        <a class="resToggle">
          <span class="menu-item"></span>
          <span class="menu-item"></span>
          <span class="menu-item"></span>
        </a>
      </div>
      <div class="nav-wrapper">
        <nav class="the-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "Your info & Settings", edit_user_registration_path %></li>
              <li><%= link_to "Profile", user_path(current_user.id) %></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Sign in", user_session_path %></li>
            <% end %>
            <li><%= link_to image_tag('beta.png', tile:'We are in Beta', id:'beta') + ' Beta Home', root_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Header & Navigation-->
    <%= yield %>

    <!--Home Footer====-->
    <footer class="footer-distributed">

        <div class="footer-right">

          <a href="https://twitter.com/WeCopair" target="_blank" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/wecopair" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCyp_do5v_FcCY_m4-4S_ZOg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          <a href="https://github.com/nelantone/Copair" target="_blank"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-leftr">
          <p class="footer-links">
            <ul class="unstyled-list nav-footer">
              <li><i class="logo-cp"><%= link_to image_tag('logo.png', alt:'COPAIR', class:'logolnkd footer' )%></i></li>
              <li><%= link_to "Home", root_path %>|</li>
              <li><%= link_to "About", root_path %>|</li>
              <li>Blog|</li>
              <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=team@we-copair.com">Email</a>|</li>
            </ul>
          </p>
          <div id="f-bottom">
            <h6>COPAIR 2018 <i class="fa fa-copyright fa-flip-horizontal"></i> | Made with <i class="fa fa-heart" aria-hidden="true"></i> in Berlin </h6>
          </div>
        </div>
      </footer>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

      <!-- Font Awesome -->
      <script src="https://use.fontawesome.com/97974f9c24.js"></script>
      <!--scroll reveal -->
      <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
      <!-- Form -->
      <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>
      <!-- My own scripts -->
      <script src="https://copair.gitlab.io/with/js/scripts.js"></script>
  </body>
</html>